.container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: white;
}

.bg_photo {
    display: flex;
    justify-content: flex-end;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.keyboardCont {
    position: relative;
    width: 100%;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    background-color: rgba(128, 128, 128, 0.7);
}

.login_menu {
    height: 60%;
}

.head_text {
    font-family: bold-text;
    font-size: 30px;

    margin-top: 32px;
    text-align: center;

    color: white;
}

.form {
    margin-top: 33px;
    margin-left: 16px;
    margin-right: 16px;
}

.formInput {
    position: relative;
    padding: 16px;
    margin-bottom: 16px;

    border-radius: 8px;
    border: solid 1px #bdbdbd;
}

.showPassord {
    position: absolute;
    right: 0;

    margin-right: 16px;
    margin-top: 16px;

    color: rgba(255, 255, 255, 0.4);
}

.loginBtn {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 93px;

    border-radius: 100px;
    border: solid 1px #bdbdbd;
}

.loginBtnText {
    font-size: 16px;
    color: white;
}

.registrationText {
    font-size: 16px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.tabBarMenu {
    position: absolute;
    bottom: 25px;
    left: 20px;
    right: 20px;
    border-radius: 15px;
    background-color: white;
    height: 70px;
}

.tabBarIconBox {
    align-items: center;
    justify-content: center;
    top: 15px;
    width: 70px;
    height: 50px;
    border-radius: 30px;
}
