.tabBarMenu {
    position: absolute;
    bottom: 25px;
    left: 20px;
    right: 20px;
    border-radius: 15px;
    background-color: white;
    height: 70px;
}

.tabBarIconBox {
    align-items: center;
    justify-content: center;
    top: 15px;
    width: 70px;
    height: 50px;
    border-radius: 30px;
}
